.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.cache
server/dist
public/dist
*.tsbuildinfo
.pnpm-store
cache
.groovy-lib
sbom.json
sbom-prod.json

out*
packages.*.json
*.gen.sh

vite.config.ts.timestamp*

tempo-data
temp
coverage

.development.env

**/_screenshots_/**/*.png
!**/_screenshots_/**/*.CI.png
/.idea/gbrowser_project.xml
